# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.env
/git
/build

# Ignore Visual Studio Code settings
/.vscode

# Ignore log files
/logs/
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
