.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/search-bar-icon-search-3d-render-minimal-design-multicolor-background_41204-14142.jpg?semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.95);
}

.auth-title {
    text-align: center;
    margin-bottom: 20px !important;
    font-weight: 600 !important;
    color: #007bff;
    font-family: "Algerian", serif !important;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-input {
    margin-bottom: 16px;
}

.auth-text {
    margin-top: 26px !important;
    text-align: center;
}

.auth-text a {
    color: #007bff;
    text-decoration: none;
}

.auth-text a:hover {
    text-decoration: underline;
}